{% extends "base.html.twig" %}

{% block main %}
<h6><a href="{{Mondes}}"> Exploration</a>
  <i class="bi bi-caret-right-fill"></i> {{monde.name_world}} 
  <i class="bi bi-caret-right-fill"></i> {{sous_monde.title}} 
  <i class="bi bi-caret-right-fill"></i> {{histoire.title | raw}}
</h6>
<hr>
<header class="banniere-lieu">
    <h2>{{histoire.title | raw}}</h2>
    <img src="../../img/{{sous_monde.media}}" alt="image_du_lieu">
    {% if histoire.bio != null %}
    <p>Préface : {{histoire.bio | raw}}</p><br><hr>
    {% endif %}
    
</header>
<section id="histoire">
{% for key, item in aventure %}
    <aside>
    <a href="../../Page/Utilisateur/Profil.php?utilisateur={{item.pseudo}}">
    <img src="../../docs/{{item.pseudo}}/{{item.image}}" alt="image de profil"></a>
    <p>{{item.prenom}} {{item.nom}}</p>
    </aside>
    <article class="rp">
        {{item.contenu | raw}}
    </article>
    <div class='clear'></div>
    {% if item.repondre %}
     
    <aside>
      <form action="Redaction.php" method="post">
        <input type="hidden" name="numero_H" value="{{numero_H}}">
        <input type="submit" name="repondre"  value="Répondre">
      </form>
      </aside>
    {% endif %}
    {% if item.modifier %}
        
    <aside>
      <form action="Redaction.php" method="post">
        <input type="hidden" name="numero_H" value="{{numero_H}}">
        <input type="submit" name="modifier" value="Modifier">
        <input type="submit" name="supprimer" value="Supprimer">
      </form>
      </aside>

    {% endif %}
    {% if item.supprimer %}
        
    <aside>
      <form action="Redaction.php" method="post">
        <input type="hidden" name="numero_H" value="{{numero_H}}">
        <input type="submit" name="modifier" value="Modifier">
        <input type="submit" name="reset" value="Supprimer l'Histoire">
      </form>
      </aside>

    {% endif %}
    <div class='clear'></div>        

{% endfor %}
    </section>

{% endblock %}

{% block script %}
    <script src="../../script/select-monde.js" ></script>
    <script src="../../script/menu.js"></script>
{% endblock %}