<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="Language" content="fr" />
  <meta name="copyright" content="© REEDIFICA.FR 2022" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#5b99c2">
  <meta name="Author" content="Steven Ladour"/>
  <link rel="icon" href="{{icon}}">
  <link rel="stylesheet" type="text/css" href="{{css_style}}">
  <link rel="stylesheet" type="text/css" href="{{css_page}}">
  <title>{{titre}}</title>
  <!-- SEO  -->
  <!-- <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/> -->
  <meta property="og:region" content="fr_FR"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Ré.édifica"/>
  <meta name="description" content="Ré.édifica, le forum RP. "/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{% block nav %}
  <header>
    <nav id="navbar">
    <input type="checkbox" id="menu-bouton">
    <label for="menu" aria-describedby="label"><i class="bi bi-list-task"></i></label>
    <ul>
      <li><a href="{{index}}"><i class="bi bi-house"></i> Accueil</a></li>
      <li><i class="bi bi-book"></i> Histoire
        <ul>
          <li><a href="{{contexte}}">Il était une fois...</a></li>
          <li><a href="{{info}}">Nouveauté</a></li>
        </ul>
      </li> 
      <li><a href="{{Mondes}}"><i class="bi bi-send"></i> Exploration</a></li>
      <li><a href="{{Liste}}"><i class="bi bi-people"></i> Membres</a></li>
      <li><i class="bi bi-question-octagon-fill"></i> Guide
        <ul>
          <li><a href="{{Tutoriel}}">Tutoriel</a></li>
          <li><a href="{{Réglementation}}">Réglementation</a></li>
          <li><a href="{{FAQ}}">F.A.Q</a></li>
        </ul>
      </li>
    </ul>
    <div id="user">
      <p>{% if connecter %}
      <i class="bi bi-person-circle"></i> <a href="{{connexion}}">Connexion</a> | <a href="{{inscription}}">Inscription</a>
      {% else %}
      <a href="{{Profil}}"><img src="{{chemin_image_user}}/{{user.pseudo}}/{{user.image}}" alt="image_profil"/></a> <a href='{{Profil}}'>Profil</a> | <a href='{{deconnexion}}'>Déconnexion</a>
      {% endif %}
      </p>
    </div>
    </nav>
</header>
{% endblock %}

{% block main %}
<main>

</main>
{% endblock %}

<footer id="footer">
  <nav>
    <div class="boite">
      <a href="{{index}}"><img src="{{reedifica}}" alt="logo-footer"></a>
    </div>
    <div class="boite">
      <h3>Contacter Nous</h3>
      <p><i class="bi bi-envelope"></i> Reedifica@Reedifica.fr</p>
    </div>
    <div class="boite">
      <h3>En détails</h3>
      <p><i class="bi bi-patch-check"></i> Mentions Légals</p>
      <p><i class="bi bi-github"></i><a href="https://github.com/Poyopote/Reedifica/tree/php"> Poyopote/Réédifica</a></p>
    </div>
    <div class="boite fin">
      <h3>Liens util</h3>
      <p><i class="bi bi-globe2"></i> Langue : <a href="?lang=fr">FR</a> | <a href="?lang=en">EN</a> </p>
      <p><i class="bi bi-spotify"></i> Playlist de Réédifica</p>
    </div>
    <div>
    <ul>
      <li><a href="{{index}}"><i class="bi bi-house"></i> Accueil</a></li>
      <li>Histoire <i class="bi bi-book"></i> <a href="{{contexte}}">Il était une fois...</a> | <a href="{{info}}">Nouveauté</a></li>
      <li><a href="{{Mondes}}"><i class="bi bi-send"></i> Exploration</a></li>
      <li><a href="{{Liste}}"><i class="bi bi-people"></i> Membres</a></li>
      <li>Guide <i class="bi bi-question-octagon-fill"></i> <a href="{{Tutoriel}}">Tutoriel</a> | <a href="{{Réglementation}}">Réglementation</a> | <a href="{{FAQ}}">F.A.Q</a></li>
    </ul>
    </div>
  </nav>
</footer>
{% block script %}{% endblock %}
</body>
</html>