{% extends "base.html.twig" %}
{% block nav %}
<header>
<nav id="navbar">
  <input type="checkbox" id="menu-bouton">
  <label for="menu-bouton" ><i class="bi bi-list-task"></i></label>
  <ul>
    <li><a href="{{index}}"><i class="bi bi-house"></i><span> {{menu_index | raw}}</span></a></li>
    <li><i class="bi bi-book"></i> {{menu_histoire | raw}}
      <ul>
        <li><a href="{{contexte}}">{{menu_il_était | raw}}</a></li>
        <li><a href="{{info}}">{{menu_nouveaute | raw}}</a></li>
      </ul>
    </li> 
    <li><a href="{{Mondes}}"><i class="bi bi-send"></i> {{menu_exploration | raw}}</a></li>
    <li><a href="{{Liste}}"><i class="bi bi-people"></i> {{menu_membres | raw}}</a></li>
    <li><i class="bi bi-question-octagon-fill"></i> {{menu_guide | raw}}
      <ul>
        <li><a href="{{Tutoriel}}">{{menu_tutoriel | raw}}</a></li>
        <li><a href="{{Réglementation}}">{{menu_reglementation | raw}}</a></li>
        <li><a href="{{FAQ}}">{{menu_faq | raw}}</a></li>
      </ul>
    </li>
  </ul>
  <div id="user">
    <p>{% if connecter %}
        <i class="bi bi-person-circle"></i> <a href="{{connexion}}">{{menu_connexion | raw}}</a> | <a href="{{inscription}}">{{menu_inscription | raw}}</a>
      {% else %}
      <a href="{{Profil}}"><img src="{{chemin_image_user}}/{{user.pseudo}}/{{user.image}}" alt="image_profil"/></a> <a href='{{Profil}}'>{{menu_profil | raw}}</a> | <a href='{{deconnexion}}'>{{menu_deconnexion | raw}}</a>
{% endif %}</p>
  </div>
</nav>
</header>
{% endblock %}
{% block main %}
<h2><i class="bi bi-book"></i> {{titre_histoire1 | raw}}</h2>
<section>
  <h3><i class="bi bi-book-fill"></i> {{titre_histoire2 | raw}}</h3>
  {{paragraphe_histoire_1 | raw}}
  <img src="../../img/Chapitre 1 - Couverture 3.jpg" alt="story1">
  <img src="../../img/Chapitre 4 Page 10.jpg" alt="story1">
  <img src="../../img/Scénario_space_titré.jpg" alt="story1">
  <img src="../../img/Chapitre 4 Page 12.jpg" alt="story1">
  <img src="../../img/Chapitre 4 Page 17.jpg" alt="story1">
<p>{{paragraphe_histoire2}}</p>
<div id="arc"></div>
  <h3><i class="bi bi-yin-yang"></i> {{titre_histoire3}} <i class="bi bi-yin-yang"></i></h3>
  <p>{{paragraphe_histoire3}}</p>
    <video autoplay="" muted="" loop=""  width="800">
      <source src="../../img/20210407_161217" type="video/mp4">
    </video>
    {{paragraphe_histoire_4 | raw}}
</section>
<section>
  <h3><i class="bi bi-book-fill"></i> {{titre_histoire4}}</h3>
  <p>{{paragraphe_histoire5}}</p>
    <img src="../../img/monster01.jpg" alt="story1">
    <img src="../../img/monster02.jpg" alt="story1">
  <p>{{paragraphe_histoire6}}</p>
  {{paragraphe_histoire_7 | raw}}
  <p>{{paragraphe_histoire8}}</p>
</section>
{% endblock %}

{% block script %}
    <script src="../../script/menu.js"></script>
{% endblock %}