<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="Language" content="fr" />
    <meta name="copyright" content="© REEDIFICA.FR 2022" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5b99c2">
    <meta name="Author" content="Steven Ladour" />
	<link rel="icon" href="{{icon}}">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{css_style}}">
    <link rel="stylesheet" type="text/css" href="{{css_page}}">
    
    <title>{{titre}}</title>
    <!-- SEO  -->
    <!-- <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/> -->
    <meta property="og:region" content="fr_FR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Ré.édifica"/>
    <meta name="description" content="Ré.édifica, le forum RP. "/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>