{% extends "base.html.twig" %}
{% block nav %}
  <header>
    <nav id="navbar">
    <input type="checkbox" id="menu-bouton">
    <label for="menu-bouton" ><i class="bi bi-list-task"></i></label>
    <ul>
      <li><a href="{{index}}"><i class="bi bi-house"></i> Accueil</a></li>
      <li><i class="bi bi-book"></i> Histoire
        <ul>
          <li><a href="{{contexte}}">Il était une fois...</a></li>
          <li><a href="{{info}}">Nouveauté</a></li>
        </ul>
      </li> 
      <li><a href="{{Mondes}}"><i class="bi bi-send"></i> Exploration</a></li>
      <li><a href="{{Liste}}"><i class="bi bi-people"></i><span> Membres</span></a></li>
      <li><i class="bi bi-question-octagon-fill"></i> Guide
        <ul>
          <li><a href="{{Tutoriel}}">Tutoriel</a></li>
          <li><a href="{{Réglementation}}">Réglementation</a></li>
          <li><a href="{{FAQ}}">F.A.Q</a></li>
        </ul>
      </li>
    </ul>
    <div id="user">
      <p>
{% if connecter %}
        <i class="bi bi-person-circle"></i><a href="{{connexion}}">&nbsp;Connexion</a> | <a href="{{inscription}}">Inscription</a>
{% else %}
        <a href="{{Profil}}"><img src="{{chemin_image_user}}/{{user.pseudo}}/{{user.image}}" alt="image_profil"/></a> <a href='{{Profil}}'>Profil</a> | <a href='{{deconnexion}}'>Déconnexion</a>
{% endif %}
      </p>
    </div>
    </nav>
</header>
{% endblock %}
{% block main %}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Pseudo</th>
      <th colspan="2">Surnom</th>
      <th>Grade</th>
      <th>Date d'inscription</th>
      <th>Nombre de message</th>
    </tr>
  </thead>
  <tbody>
  {% for key, membre in membres %}
    <tr>
      <td><a href="../../Page/Utilisateur/Profil.php?utilisateur={{membre.pseudo}}">
      <img src="../../Docs/{{membre.pseudo}}/{{membre.image}}" alt="image_profil"/>
      </a></td>
      <td><a href="../../Page/Utilisateur/Profil.php?utilisateur={{membre.pseudo}}">{{membre.pseudo}}</a></td>
      <td>{{membre.prenom}}</td>
      <td>{{membre.nom}}</td>
      <td>{{membre.grade}}</td>
      <td>{{membre.date}}</td>
      <td>{{membre.nbm_histoire}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
    <script src="../../script/menu.js"></script>
{% endblock %}