{% extends "base.html.twig" %}

{% block nav %}
  <header>
    <nav id="navbar">
    <input type="checkbox" id="menu-bouton">
    <label for="menu" aria-describedby="label"><i class="bi bi-list-task"></i></label>
    <ul>
      <li><a href="{{index}}"><i class="bi bi-house"></i> Accueil</a></li>
      <li><i class="bi bi-book"></i> Histoire
        <ul>
          <li><a href="{{contexte}}">Il était une fois...</a></li>
          <li><a href="{{info}}">Nouveauté</a></li>
        </ul>
      </li> 
      <li><a href="{{Mondes}}"><i class="bi bi-send"></i><span> Exploration</span></a></li>
      <li><a href="{{Liste}}"><i class="bi bi-people"></i> Membres</a></li>
      <li><i class="bi bi-question-octagon-fill"></i> Guide
        <ul>
          <li><a href="{{Tutoriel}}">Tutoriel</a></li>
          <li><a href="{{Réglementation}}">Réglementation</a></li>
          <li><a href="{{FAQ}}">F.A.Q</a></li>
        </ul>
      </li>
    </ul>
    <div id="user">
      <p>
{% if connecter %}
        <i class="bi bi-person-circle"></i><a href="{{connexion}}">&nbsp;Connexion</a> | <a href="{{inscription}}">Inscription</a>
{% else %}
        <a href="{{Profil}}"><img src="{{chemin_image_user}}/{{user.pseudo}}/{{user.image}}" alt="image_profil"/></a> <a href='{{Profil}}'>Profil</a> | <a href='{{deconnexion}}'>Déconnexion</a>
{% endif %}
      </p>
    </div>
    </nav>
</header>
{% endblock %}
{% block main %}
<h1><i class="bi bi-send"></i> Exploration</h1>
<hr>
<select onchange='showUser(this.value)'>
    <option value=''>Sélection ton monde</option>
    {% set i = 0 %}
    {% for key, monde in choix %}
    {% set i = i + 1 %}
    <option value='{{i}}' >{{monde.name_world}}</option>
    {% endfor %}
</select>
<section id="monde">
    <article id="txtHint">
    {% set id_monde = 1 %}
    <h2>{{monde.name_world}}</h2>
    <img class="font" src='../../img/{{monde.media}}' alt='illustration'>
    <img class="seul" src='../../img/{{monde.media}}' alt='illustration'>
    <p>{{monde.bio_world}}</p>
    
    </article>
    <h4>sous monde disponible</h4>
    <div id="txtHint2">
        {% for key, sous_monde in liste %}
        <article class="sous_monde">
            <h3>{{sous_monde.title}}</h3>
            <a href="sous-monde.php?lieu={{sous_monde.id_under_world}}"><img src='../../img/{{sous_monde.media}}' alt='illustration'></a>
            <p>{{sous_monde.bio}}</p>
        </article>
        {% endfor %}
        
    </div>
    <div class='clear'></div>
</section>
{% endblock %}

{% block script %}
    <script src="../../script/select-monde.js" ></script>
    <script src="../../script/menu.js"></script>
{% endblock %}