{% extends "base.html.twig" %}

{% block main %}
<h2>Profil de {{tableau_utilisateur.pseudo}}</h2>
<section id="presentation">
  <h3>Description</h3>
  <p><img src='{{filename}}/{{tableau_utilisateur.image}}' width="220px" height="340px"  alt="image-de-profil"><i class="bi bi-quote"></i>{{tableau_utilisateur.description}}<i class="bi bi-quote"></i></p>
  <div class="clear"></div><br>
  <p>Je suis {{tableau_utilisateur.prenom}} {{tableau_utilisateur.nom}}</p>
  <p>Grade : {{tableau_utilisateur.grade}}</p>
  {% if tableau_utilisateur.don is null %}
  <p>Catégorie du DON : Aucun</p>
  {% else %}
  <p>Catégorie du DON : {{tableau_utilisateur.don}}</p>
  {% endif %}
  <p>Pseudo : {{tableau_utilisateur.pseudo}}</p>
</section>
<section>
  <h3>Mon Histoire</h3>
{% if histoires is empty %}
  <article>
    <h4>Pas encore d'histoire ?</h4>
    {% if connecter == FALSE %}
    <p><a href="../../Page/Guide/Tutoriel.php">Besoin d'aide ?</a></p>
    {% endif %}
  </article>
{% else %}
  {% for key, histoire in histoires %}
  <article>
    <h4><a href="../../Page/Exploration/Aventure.php?num={{histoire.id_story}}">{{histoire.title | raw}}</a></h4>
    <p class="date">Créé le {{histoire.date}}</p>
    <p>{{histoire.bio  | raw}}<p>
    <hr>
  </article>
  {% endfor %}
{% endif %}
</section>
<div class="clear"></div>

{% if mon_compte %}
<aside>
  <h5>Que souhaites-tu changer ?</h5><br>
  <form enctype="multipart/form-data" action="{{form}}" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="7000000" />
    <input type="hidden" name="voir_form" value="1" />
    
    <input type="checkbox" name="img_t" class="tp">
    <label for="img_t">Modifier la description</label>
    <fieldset>
      <legend>Biographie</legend>
      <h6>Texte actuel :</h6>
      <textarea id="bio" type="text" name="bio" maxlength="250">{{tableau_utilisateur.description}}</textarea>
      <input name="send" type="submit" value="Valider la description"/>
    </fieldset>

    <hr>

    <input type="checkbox" name="img_p" class="tp">
    <label for="img_p">Modifier l'image</label>
    <fieldset>
      <legend>Photo de profil</legend>
      <input id="idfile" name="userfile" type="file"/>
      <input name="send" type="submit" value="Valider l'image"/>
    </fieldset>
  </form>
{% if admin  %}
  <form method="POST" action="profil.php#Administration" style="overflow-x: auto;">
    <fieldset >
      <legend>Sélectionnez une table :</legend>
{% set retour_ligne = 0 %}
{% for ligne in lignes_tables %}
{% set retour_ligne = retour_ligne + 1 %}
      {% if retour_ligne is divisible by(3) == 0 %}<br/>{% endif %}  
      <input type='submit' name='valider' value='{{ligne.Tables_in_reedifica_bdd }}'>
{% endfor %}         
    </fieldset>
  </form>
{% endif %}
</aside>
<div class="clear"></div>
{% if bo_form %}
<aside id="Administration">
  <h5 >Administration</h5><br>
  <h1>La table sélectionnée : <strong>{{table_selectionnee}}</strong></h1>
    <form action="../../BO/update.php" method="POST">
      <input type="hidden" name="table" value="{{table_selectionnee}}" />
      <input type="hidden" name="id" value="new" />
      <input class="boutons" type="submit" name="insert" value="Ajouter" />
    </form>
    <div style="overflow-x: auto;">
    <table>
      <thead>
        <tr>
        {% for column in lignes_columns %}
          <th>{{column.Field}}</th>
        {% endfor %}
          <th>#</th>
          <th>~</th>
        </tr>
      </thead>
      <tbody>
      {% for ligne in lignes_values %}
      <tr>
      {% for champ, value in ligne %}
        <td>{{value | raw}}</td>
      {% endfor %}
        <td>
          <form action="../../BO/update.php" method="POST">
				    <input type="hidden" name="table" value="{{table_selectionnee}}" />
				    <input type="hidden" name="id" value="{{ligne.clef_primaire_extraite_de_la_reponse}}" />
				    <input class="boutons" type="submit" name="update" value="Editer" />
				    <input class="boutons" type="submit" name="delete" value="Supprimer" />
			    </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  <a href="profil.php">Retour au choix de la table</a>
</aside>
{% endif %}

<div class="clear"></div>
{% endif %}

{% endblock %}

{% block script %}
  <script src="../../script/menu.js"></script>
{% endblock %}
