{% extends "base.html.twig" %}

{% block main %}
<h2>Profil de {{tableau_utilisateur.pseudo}}</h2>
<section id="presentation">
  <h3>Description</h3>
  <img src='{{filename}}/{{tableau_utilisateur.image}}'  alt="image-de-profil">
  <p><i class="bi bi-quote"></i>{{tableau_utilisateur.description}}<i class="bi bi-quote"></i></p>
  <div class="clear"></div>
  <p>{{tableau_utilisateur.prenom}} {{tableau_utilisateur.nom}}</p>
  <p>Symbole : Lunette correctionnelle</p>
  <p>Grade : {{tableau_utilisateur.grade}}</p>
  <p>Capacités : </p>
  <p>Pseudo : {{tableau_utilisateur.pseudo}}</p>
</section>
<section>
  <h3>Mon Histoire</h3>
  {% if histoires is empty %}
  <article>
    <h4>Pas encore d'histoire ?</h4>
    <p><a href="../../Page/Exploration/Mondes.php">Vient explorer notre monde</a></p>
  </article>
  {% else %}
  {% for key, histoire in histoires %}
  <article>
    <h4><a href="../../Page/Exploration/Aventure.php?num={{histoire.id_story}}">{{histoire.title}}</a></h4>
    <p class="date">Créé le {{histoire.date}}</p>
    <p>{{histoire.bio}}<p>
    <hr>
  </article>
  {% endfor %}
  {% endif %}
  
</section>
<div class="clear"></div>

{% if mon_compte %}
<aside>
  <h5>Que souhaites-tu changer ?</h5><br>
  {# <input type="color" name="couleur">
  <input type="button" value="Modifier profil"> #}
  <form enctype="multipart/form-data" action="{{form}}" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
    <input type="hidden" name="voir_form" value="1" />
    <fieldset>
      <legend>Biographie</legend>
      <h6>Texte actuel :</h6>
      <p><i class="bi bi-quote"></i>{{tableau_utilisateur.description}}<i class="bi bi-quote"></i></p>
      <textarea id="bio" type="text" name="bio">{{tableau_utilisateur.description}}</textarea>
      <input name="send" type="submit" value="Modifier la description"/>
    </fieldset>
    <hr>
    <fieldset >
      <legend>Photo de profil</legend>
      <input id="idfile" name="userfile" type="file"/>
      <input name="send" type="submit" value="Modifier l'image"/>
    </fieldset>

    <input type="reset" value="Annuler"/>          
  </form>
  <form method="POST" action="profil.php">
      <fieldset>
        <legend>Sélectionnez une table :</legend>
{% set retour_ligne = 0 %}
{% for ligne in lignes_tables %}
{% set retour_ligne = retour_ligne + 1 %}
{% if retour_ligne is divisible by(3) == 0 %}<br/>{% endif %}  
<input type='submit' name='valider' value='{{ligne.Tables_in_reedifica_bdd }}'>
{% endfor %}         
      </fieldset>
    </form>   
</aside>
<div class="clear"></div>
{% if bo_form %}
<aside>
  <h5>Administration</h5><br>
  <h1>La table sélectionnée : <strong>{{table_selectionnee}}</strong></h1>
    <form action="update.php" method="POST">
      <input type="hidden" name="table" value="{{table_selectionnee}}" />
      <input type="hidden" name="id" value="new" />
      <input class="boutons" type="submit" name="insert" value="Ajouter" />
    </form>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Pseudo</th>
          <th colspan="2">Surnom</th>
          <th>grade</th>
          <th>date</th>
          <th>Nombre de message</th>
        </tr>
      </thead>
  {# <tbody> #}
    </table>
  <a href="profil.php">Retour au choix de la table</a>
</aside>
{% endif %}

<div class="clear"></div>
{% endif %}

{% endblock %}

{% block script %}
  <script src="../../script/menu.js"></script>
{% endblock %}
